<title><%= title %></title>
<!-- Meta Tags -->
<meta name="og:site_name" content="LivzMC">
<meta name="title" content="<%= title %>">
<!--  -->
<% if (DEVMODE) { %>
<script src="https://cdn.tailwindcss.com/3.2.4"></script>
<script>
  console.warn('Website is in developer mode!');

  tailwind.config = {
    darkMode: 'class',
    theme: {
      extend: {},
    },
    variants: {
      extend: {
        opacity: ['disabled'],
      },
    },
    plugins: [],
  }
</script>
<% } else { %>
<link rel="stylesheet" href="/style/index.css">
<% } %>
<style>
  body {
    min-height: 100vh !important;
    display: flex !important;
    flex-flow: column !important;
  }
  
  main {
    flex-grow: 1 !important;
  }
</style>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7M0QTYLST3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7M0QTYLST3');
</script>
<script>
  const TEXTURE_SERVER = "<%= textureServer %>";
</script>
